<!doctype html>
<html>
  {{{include.head}}}
  <body data-controller="{{route.controller}}" data-action="{{route.action}}" data-view="{{route.view}}" data-renderer="{{route.renderer}}" data-rendered-view="{{route.renderedView}}" data-show="{{route.show}}" data-task="{{route.task}}" data-type="{{route.type}}" data-mode="{{config.citizen.mode}}">
    {{{include.header}}}
    <main>
      {{#each route.chain}}
        {{{output}}}
      {{/each}}
    </main>
    {{{include.footer}}}
    {{#if browsersyncEnabled}}
      <script id="__bs_script__">//<![CDATA[
        (function() {
          try {
            var script = document.createElement('script');
            if ('async') {
              script.async = true;
            }
            script.src = 'http://HOST:3001/browser-sync/browser-sync-client.js?v=3.0.2'.replace("HOST", location.hostname);
            if (document.body) {
              document.body.appendChild(script);
            } else if (document.head) {
              document.head.appendChild(script);
            }
          } catch (e) {
            console.error("Browsersync: could not append script tag", e);
          }
        })()
      //]]></script>
    {{/if}}
  </body>
</html>
