<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{{metaData.title}}}</title>
  <meta name="description" content="{{{metaData.description}}}">
  <meta name="keywords" content="{{{metaData.keywords}}}">
  <link rel="stylesheet" type="text/css" href="/min/site.css?v={{config.cacheBuster.css}}">
  <script type="text/javascript" src="/min/site.js?v={{config.cacheBuster.js}}"></script>
</head>
