<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D'oh!</title>
    <link rel="stylesheet" type="text/css" href="/min/site.css">
    <script type="text/javascript" src="/min/site.js"></script>
  </head>
  <body data-controller="{{route.controller}}" data-action="{{route.action}}" data-view="{{route.view}}" data-renderer="{{route.renderer}}" data-rendered-view="{{route.renderedView}}" data-show="{{route.show}}" data-task="{{route.task}}" data-type="{{route.type}}" data-mode="{{config.citizen.mode}}">
    <main>
      <h1>¯\_(ツ)_/¯</h1>
      <p>What can you do? These things happen.</p>
      <pre>
        <code>
          {{error.inspect}}
        </code>
      </pre>
    </main>
  </body>
</html>
